body {
  background-image: url("../img/pizzaplanetbg.jpg");
  background-size: cover
}

.header {
  color: #6C975F;
  text-shadow: 2px 2px#6BC0D6;
}

.selectboxsize {
  color: white;
}

.checkboxtoppings {
color: white;
}

#pizzaPrice {
  color: white;
}